:root {
    --regal--blue: #213951;
    --navy--blue: #064BA2;
    --orange: #FB8236;
    --purple: #5522CC;
    --blue: #6DB4FF;
    --orange--alt: #F64D40;
    --cobalt: #064BA2;
    --primary--text: #353535;
    --alice--blue: #F4F8FA;
    --blue--alt: #2F61C1;
}

@font-face {
    font-family: Gilroy;
    src: url(./src/fonts/Gilroy-Regular.ttf) format("truetype");
    font-weight: 400;

}

@font-face {
    font-family: Gilroy;
    src: url(./src/fonts/Gilroy-Bold.ttf) format("truetype");
    font-weight: 400;

}

@font-face {
    font-family: Gilroy;
    src: url(./src/fonts/Gilroy-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url(./src/fonts/Gilroy-RegularItalic.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Gilroy;
    src: url(./src/fonts/Gilroy-Semibold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: iconmoon;
    src: url(./src/fonts/icomoon.ttf) format("truetype");
    font-weight: 600;
}

.icon-arrow-left:before {
    content: "\e900";
    font-family: iconmoon !important;
}

.icon-arrow-right:before {
    content: "\e901";
    font-family: iconmoon;
}

.icon-arrow-top:before {
    content: "\e902";
    color: #fff;
    font-family: iconmoon;
}

.icon-dev:before {
    content: "\e903";
    font-family: iconmoon;
}

.icon-dock:before {
    content: "\e904";
    color: #064ba2;
    font-family: iconmoon;
}

.icon-email:before {
    content: "\e905";
    color: #064ba2;
    font-family: iconmoon;
}

.icon-lamp:before {
    content: "\e906";
    color: #064ba2;
    font-family: iconmoon;
}

.icon-phone:before {
    content: "\e907";
    color: #064ba2;
    font-family: iconmoon;
}

.icon-point:before {
    content: "\e908";
    color: #064ba2;
    font-family: iconmoon;
}

.icon-vector-zig:before {
    content: "\e909";
    color: #064ba2;
    font-family: iconmoon;
}

* {
    box-sizing: border-box;
}

button.btn.g-recaptcha {
    margin-top: 20px;
}
.btn {
    background-color: var(--navy--blue);
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    border-radius: 3px;
    padding: 15px 48px !important;
    border: 0;
}

body {
    margin: 0px;
    font-family: Gilroy;
    background-image: url(./src/img/bg-hero.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;


}




._container {
    max-width: 1170px;
    margin-inline: auto;
    padding-inline: 15px;


}


/* slider */
html,
body,
.portolio-slider {
    position: relative;
    height: 100%;
}



.portolio-slider::after {
    content: '';
    background-color: var(--alice--blue);
    position: absolute;
    height: 240px;
    width: 99vw;
    bottom: 0;
}


.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.swiper-slide {
    text-align: center;
    height: calc((100% - 30px) / 2) !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
}

.swiper-grid-column>.swiper-wrapper {
    flex-direction: row;
}

.swiper-button-next {
    left: 85%;
    width: 60px;
}

.swiper-button-prev {
    left: 12%;
    width: 60px;
    height: 40px;
}

.swiper-button-next:after {
    content: '';
    background-image: url(./src/icons/arrow-right.svg);
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-prev:after {
    content: '';
    background-image: url(./src/icons/arrow-left.svg);
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-next::before {
    content: '';
    background-color: #F4F8FA;
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: -1;
    border-radius: 6px;
    left: -27px;
}

.swiper-button-prev::before {
    content: '';
    background-color: #F4F8FA;
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: -1;
    border-radius: 6px;
    left: 27px;
}

/* end */
.contact {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 15px;
    border: 1px solid #E1E1E1;
    max-width: 365px;
    border-radius: 5px;
}

.contact p {
    margin-top: 0px;
    margin-bottom: 3px;
}

.location {
    align-items: start
}

.contact img {
    padding: 10px;
    background-color: #F4F8FA;
    border-radius: 2px
}

.contact-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.portfolio-image {
    position: relative;
}

.contact a {
    padding-top: 3px;
    text-decoration: none;
}

.portfoloi-logo {
    position: absolute;
    top: 67%;
    left: 60%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 11px 15px rgba(18, 32, 50, 0.12);
    width: 130px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-card h3 {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.portfolio-card p {
    margin: 0;
}

.portfolio-card {
    text-align: start;
    margin-bottom: 24px;
}

a {
    font-weight: 500;
    font-size: 16px;
    color: var(--primary--text)
}

h1 {
    font-weight: 700;
    color: var(--navy--blue);
    line-height: 70px;
    font-size: clamp(35px, calc(2.1875rem + ((1vw - 5.75px) * 5.042)), 65px);
    margin-top: 0px;

}

h3 {
    color: var(--regal--blue);
    font-size: clamp(25px, calc(1.5625rem + ((1vw - 5.75px) * 1.6807)), 35px);
    line-height: 45px;
    margin-top: 0px;


}

h6 {
    margin: 0;
    line-height: 26px;
    font-weight: 700;
    font-size: 16px;
}

p {
    font-size: clamp(13px, calc(0.8125rem + ((1vw - 5.75px) * 0.5042)), 16px);
    color: var(--primary--text);
}

.nav {
    width: 100%;
    position: relative;
    margin-top: 26px;
}

.nav .nav-header {
    display: inline;
}

.nav .nav-header .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav .nav-btn {
    display: none;
}

.nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav .nav-links a:not(:last-child) {
    border-left: 1px solid #BED2E1;
}

.nav .nav-links a:first-child {
    border-left: none
}

.nav .nav-links a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary--text);
    padding-inline: 25px;
}

.nav-links .btn {
    margin-left: 10px;
}

.nav-links a:hover {
    border-bottom: 2px solid var(--navy--blue);
}

.nav #nav-check {
    display: none;
}

.bold {
    font-weight: 600;
}

section {
    padding-top: 80px;
    overflow-x: hidden;
}

/* Hero */
section.hero-section {
    padding-bottom: 170px;
}

.contact-block {
    min-width: 370px
}

.card-solution {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 20px 40px 40px 20px;
    margin-top: 25px;
}

.text-media {
    display: flex;
    gap: 30px;

}

/* END */
.option {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    padding: 16px;
    max-width: 460px;
}

.option p {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;

}

.option p::before {
    font-size: 32px;
}

.environments {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.technology {
    border-radius: 10px;
    border: 2px solid;
    max-width: 170px;
    padding: 15px;
    min-height: 175px;
}

.technology.front {
    border-color: var(--blue--alt);
}

.technology.back {
    border-color: var(--orange)
}

.technology.back span {
    background-color: var(--orange);

}

.technology.mobile {
    border-color: var(--blue);
}

.technology.mobile span {
    background-color: var(--blue);
}

.technology.design {
    border-color: var(--purple);
}

.technology.design span {
    background-color: var(--purple)
}

.technology.database {
    border-color: var(--orange--alt)
}

.technology.database span {
    background-color: var(--orange--alt)
}

.technology span {
    padding: 4px;
    margin-top: 5px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.technology.front span {
    background-color: var(--blue--alt);
}

.servises-wraper {
    display: flex;
    gap: 90px;
}

.servises {
    background-color: #ECF4FA;
    background-image: url(./src/img/serv-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.servises-description {
    max-width: 43%;
}

.expertise {
    width: 100%;
}

.technology-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.text-center {
    text-align: center;
}


.contact-wraper {
    display: flex;
    gap: 24px;
}

.form-block {
    width: 100%;
    padding: 30px;
}

input {
    min-height: 50px;
    outline: none;
    border: none;
    padding-left: 16px;
    margin-top: 10px;
}

label {
    font-size: 16px;
    font-weight: 400;
    font-family: Gilroy;
    padding-bottom: 10px;
    display: inline-flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    gap: 24px;
}

.top-row label {
    width: 50%;
}

.form-block {
    background: #F4F8FA;
    position: relative;
}

.form-block::after {
    content: '';
    background: #F4F8FA;
    position: absolute;
    width: 100%;
    right: -100%;
    height: 100%;
    top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.bottom-row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.captcha {
    max-width: 290px;
    margin-top: 24px;
}

input.btn {
    width: 220px;
    align-self: self-start;

}

textarea {
    height: 150px;
    padding: 10px;
    border: none;
    outline: none;

}

textarea::placeholder,
input::placeholder {
    font-size: 14px;
    font-family: inherit;
}

.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
}

footer {
    border-top: 1px solid rgba(6, 75, 162, 0.12);
    border-bottom: 1px solid rgba(6, 75, 162, 0.12);
    margin-bottom: 10px;
}

.copy {
    padding-bottom: 14px;
    padding-top: 14px;
}

.footer-nav-list li:not(:last-child) {
    border-right: 1px solid #BED2E1;
    padding-right: 12px;
}

.footer-nav-list {
    display: flex;
    gap: 12px;
}

.footer-nav-list li a {
    color: var(--primary--text);
    text-decoration: none;
}

li {
    list-style-type: none;
}

.mobile {
    display: none;
}

@media (max-width:800px) {
    .contact-block {
        min-width: 100%;
    }
    /* .swiper-button-prev,
    .swiper-button-next {
        display: none;
    } */
    .swiper-slide {
        height: 100% !important;
    }

    .card-solution {
        display: none;
    }

    .mobile {
        display: block;
    }

    .swiper-grid-column>.swiper-wrapper {
        flex-direction: row !important;
    }

    .text-media,
    .servises-wraper,
    .contact-wraper,
    .top-row {
        flex-direction: column;
    }

    .top-row label {
        width: 100%;
    }

    .servises-description {
        width: 100%;
        max-width: 100%;
    }

    body {
        background-image: none;
    }

    .media-block img {
        width: 100%;
    }

    .media-block {
        background-image: url(./src/img/bg-hero.png)
    }

    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 0px;
    }

    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav .nav-btn label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #ECF4FA;
    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid var(--navy--blue);
    }

    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
    }

    .nav .nav-links a {
        display: block;
        width: 94%;
        padding: 20px;
        font-size: 20px;
        line-height: 45px;
    }
    .nav-links .btn {
  
        text-align: center;
    }
    .nav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .contact,
    .option {
        max-width: 100%;
    }

    section.hero-section {
        padding-bottom: 80px;
    }
}

@media (max-width:435px) {
    .swiper {
        padding-bottom: 80px;
    }

    .footer-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .swiper-button-next {
        left: 60%;
        width: 60px;
        top: 90%;
    }

    .swiper-button-prev {
        left: 23%;
        width: 60px;
        height: 40px;
        top: 90%;
    }

    .footer-nav-list {
        flex-direction: column;
        padding-left: 0;
        gap: 22px;
    }

    .contact {
        max-width: 100%;
    }

    input.btn {
        width: 100%;
    }

    .footer-nav-list li {
        border-right: none !important;
    }
}